body {
    background-color: #000;
}
main {
    color: #DDD;
}

#gameArea, main h1 {
    padding: 0 10%;
}

main h1 {
    margin-bottom: 1em;
    background-color: aqua;
}

#gameBoard, #stats {
    display: none;
}

#gameBoard {
    float: left;
}

#gameBoard img {
    width: 200px;
    height: 200px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 2px solid #000;
    border-radius: 10px;
}