body {
    background-color: #000;
}
main, header, footer {
    color: #DDD;
}

main {
    padding: 1em 10%;
}

footer {
    clear: both;
}

#gameBoard, #stats {
    display: none;
}

#gameBoard {
    float: left;
}

#gameBoard img {
    width: 200px;
    height: 200px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 2px solid #000;
    border-radius: 10px;
}