body {
    background-color: #000;
}
main, header, footer {
    color: #DDD;
}

main {
    padding: 1em 10%;
    clear: both;
}

footer {
    clear: both;
}

#gameBoard, #stats {
    display: none;
    float: left;
}

#stats {
    width: 180px;
    border: solid #DDD;
    border-radius: 10px;
    padding: 1em;
}

#stats h2 {
    margin-top: 0;
}

#gameBoard img {
    width: 200px;
    height: 200px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 2px solid #000;
    border-radius: 10px;
}